.date-comments {
    font-size: 14px;
    display: flex;
    align-items: center;

    .icons {
        color: #bd9b84;
        margin-right: 10px;
    }
    .date {
        margin-right: 30px;
    }
}
